<form class="log-in-form">
    <h4 class="text-center">Вход через почту</h4>
    <label>E-mail
      <input type="email" placeholder="somebody@example.com">
    </label>
    <label>Пароль
      <input type="password" placeholder="******">
    </label>
    <input id="show-password" type="checkbox"><label for="show-password">Показать пароль</label>
    <p><input type="submit" class="button expanded" value="Вход"></p>
    <p class="text-center"><a routerLink='/registration'>Нет аккаунта? Зарегистрируйтесь</a></p>
  </form>
  
  
  
