<form class="sign-up-form">
    <h4 class="text-center">Регистрация</h4>
    <label>Имя
        <input type="text" placeholder="Читатель">
      </label>
    <label>E-mail
      <input type="email" placeholder="somebody@example.com">
    </label>
    <label>Пароль
      <input type="password" placeholder="******">
    </label>
    <input id="show-password" type="checkbox"><label for="show-password">Показать пароль</label>
    <p><input type="submit" class="button expanded" value="Зарегистрироваться"></p>    
  </form>
