<header>
  <!-- Start Top Bar -->
  <div data-sticky-container>
    <div class="top-bar" data-sticky data-options="marginTop:0;">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Книжное</li>
          <li><a routerLink='catalog'>Каталог</a></li>
          <li><a href="#">Популярное</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a routerLink='login'>Вход</a></li> 
          <!-- <li><input type="search" placeholder="Поиск"></li> -->
          <!-- <li><button type="button" class="button">Поиск</button></li>        -->
        </ul>
  
  
      </div>
    </div>
  </div>
  <!-- End Top Bar -->
  
</header>



<!-- Модальное окно -->
<!-- <div class="top-bar"> 
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Книжное</li>
      <li><a routerLink='catalog'>Каталог</a></li>
      <li><a href="#">Популярное</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a routerLink='login'>Вход</a></li> -->
      <!-- <li><input type="search" placeholder="Поиск"></li> -->
      <!-- <li><button type="button" class="button">Поиск</button></li>        -->
    <!-- </ul> -->
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mt-3" >Сделать заказ</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-3 mt-5">
        <div class="row text-center">
          <div class="col">
            <button class="btn"><a href=".//main#books">Посмотреть каталог</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Модальное окно -->

